<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{{title}}</h1>
  <p>um zu sehen ob SMLs verarbeitet werden klicken sie auf Kue-UI.
  <p>
    <a class="btn btn-lg btn-primary" href="/kue" role="button">Kue-UI</a>
  </p>
</div>
