<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>welcome</h1>
  <p>um zu sehen ob SMLs verarbeitet werden klicken sie auf Kue-UI.</a>
  <p>
    <a class="btn btn-lg btn-primary" href="/kue" role="button">Kue-UI</a>
    <a class="btn btn-lg btn-danger" href="/auth/logout" role="button">Logout</a>
  </p>
</div>
