extends layout

block content
    h1= title
    form#formAddUser(name="create user",method="post",action="/current-user")
        input#inputUserName(type="text", placeholder="token", name="token")
        button#btnSubmit(type="submit") submit
