extends layout

block content
    h1= title
    form#formAddUser(name="create user",method="post",action="/users/create")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        button#btnSubmit(type="submit") submit
